# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/

# Django
db.sqlite3
media/
logs/
staticfiles/

# Env & secrets
.env

# Editor & OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Docker
docker-compose.override.yml
